<div class="container-fluid">
    <div class="row">
        <div class="col">
        

<h1>Toll Form</h1>

<form #tollForm="ngForm" (ngSubmit)="onSubmit(tollForm)" novalidate>


    <div class="form-group">
       <input type="text" 
       		class="form-control"
		[disabled]="updating"
		required
		#city="ngModel"
		[class.is-invalid]="city.invalid && city.touched"
		name="city" 
		id="city_field" 
		[(ngModel)]="toll.city"
		placeholder="City">
       <small class="text-danger" [class.d-none]="city.valid || city.untouched">City is required</small>
    </div>
  
    <div class="form-group">
       <input type="text" 
       		class="form-control" 
		[disabled]="updating"
		required
		#location="ngModel"
		[class.is-invalid]="location.invalid && location.touched"
		name="location" 
		id="location_field" 
		[(ngModel)]="toll.location"
		placeholder="Location">
       <small class="text-danger" [class.d-none]="location.valid || location.untouched">Location is required</small>
    </div>
  
    <div class="form-group">
       <input type="text" 
       		class="form-control" 
		[disabled]="updating"
		required
		#timea="ngModel"
		[class.is-invalid]="timea.invalid && timea.touched"
		name="timea" 
		id="timea_field" 
		[(ngModel)]="toll.timea"
		pattern="^\d{3,4}$"
		placeholder="begin at (hhmm)">
       <small class="text-danger" [class.d-none]="timea.valid || timea.untouched">Beginning time is required and must be 3 or 4 digits</small>
    </div>
  
    <div class="form-group">
       <input type="text" 
       		class="form-control" 
		[disabled]="updating"
		required
		#timeb="ngModel"
		[class.is-invalid]="timeb.invalid && timeb.touched"
		name="timeb" 
		id="timeb_field" 
		[(ngModel)]="toll.timeb"
		pattern="^\d{3,4}$"
		placeholder="end at (hhmm)">
       <small class="text-danger" [class.d-none]="timeb.valid || timeb.untouched">Ending time is required and must be either 3 or 4 digits</small>
    </div>
  
    <div class="form-group">
       <input type="number" 
       		class="form-control" 
		required
		#price="ngModel"
		[class.is-invalid]="price.invalid && price.touched"
		name="price" 
		id="price_field" 
		[(ngModel)]="toll.price"
		pattern="^\d+$"
		placeholder="Price">
       <small class="text-danger" [class.d-none]="price.valid || price.untouched">Price is required, whole numbers only</small>
    </div>

    <button [disabled]="tollForm.form.invalid" class="btn btn-primary" type="submit">Save</button>
    &nbsp;
    <button (click)="newToll(tollForm)" class="btn btn-primary" type="button">Clear</button>
    &nbsp;
    <button (click)="searchTolls(tollForm)" class="btn btn-primary" type="button">Search</button>

</form>


            Load &nbsp;
            <button (click)="loadTolls('ny.json')" class="btn btn-primary" type="button">NYC</button>
            &nbsp;
            <button (click)="loadTolls('london.json')" class="btn btn-primary" type="button">London</button>

        </div>



        <div class="col">
            <app-toll-list></app-toll-list> 
        </div>
    </div>


</div>
