<div *ngIf="charges.length > 0">
<h3>{{charges[0].plate}} - Balance: {{balance}}</h3>
</div>

<h3>Charges</h3>

<table class="table">
    <thead>
        <tr>
            <th scope="col">plate</th>
            <th scope="col">city</th>
            <th scope="col">location</th>
            <th scope="col">time</th>
            <th scope="col">price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let charge of charges; let i = index">
            <td>{{charge.plate}}</td>
            <td>{{charge.city}}</td>
            <td>{{charge.location}}</td>
            <td>{{charge.time | date:'full':zone}} <!-- correct: millis time:  ({{charge.time}})  --></td>
            <td>{{charge.price}}</td>
        </tr>
    </tbody>
</table>

<div *ngIf="charges.length > 0">
<button (click)="deleteCharges(charges[0].plate)" class="btn btn-danger">Delete Charges</button>
</div>

